.portfolio {
}
.portfolio__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14px 51px;
}
@media (min-width: 768px) {
  .portfolio__container {
    padding: 0 50px 71px;
  }
}

@media (min-width: 1280px) {
  .portfolio__container {
    padding: 0 70px 106px;
  }
}

.portfolio__header {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
  margin-bottom: 20px;
  margin-right: auto;
}

@media (min-width: 768px) {
  .portfolio__header {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 31px;
  }
}

@media (min-width: 1280px) {
  .portfolio__header {
    color: #8b8b8b;
  }
}

.portfolio__links {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.portfolio__link-container {
  position: relative;
  padding-top: 19px;
  padding-bottom: 19px;
}
.portfolio__link-container:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 769px) {
  .portfolio__link-container:not(:last-of-type) {
    border-bottom: 1px solid #424242;
  }
}

.portfolio__link-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease;
  display: inline;
  align-items: center;
  justify-content: space-between;
}

.portfolio__link-item::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 36%;
  background-image: url('../../images/text__COLOR_font-main.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px;
  height: 22px;
  padding-left: 22px;
}

@media (min-width: 768px) {
  .portfolio__link-item::after {
    background-size: 17px;
  }
}

@media (min-width: 1280px) {
  .portfolio__link-item::after {
    background-size: 20px;
  }
}

.portfolio__link-item:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .portfolio__link-item {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (min-width: 1280px) {
  .portfolio__link-item {
    font-size: 30px;
    line-height: 50px;
  }
}
