.page {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: white;
  min-height: 100vh;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
.body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.body::-webkit-scrollbar-track {
  background: #313131;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.body::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
