.search {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 44px;
  border-bottom: 1px solid #aaa3;
}
@media (min-width: 768px) {
  .search {
    padding-bottom: 56px;
  }
}
@media (min-width: 960px) {
  .search {
    padding: 80px 0;
  }
}

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
@media (min-width: 768px) {
  .search__form {
    gap: 37px;
  }
}
@media (min-width: 960px) {
  .search__form {
    flex-direction: row;
    gap: 41px;
  }
}

.search__bar {
  width: 100%;
  border: 1.5px solid #aaaaaa33;
  border-radius: 50px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 48px;
  gap: 10px;
  padding: 5.5px 5.5px 5.5px 16px;
}

.search__input {
  background-color: transparent;
  width: calc(100% - 69px);
  border: none;
  display: inline;
  padding-left: 0;
  padding-bottom: 2px;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #8b8b8b;
}
@media (min-width: 540px) {
  .search__input,
  .search__input::placeholder {
    font-size: 14px;
  }
}

.search__input:focus-visible,
.search__input:focus {
  outline: none;
}

.search__submit {
  height: 34px;
  width: 59px;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  background-color: #4285f4;
  border: none;
  border-radius: 48px;
  color: white;
  padding: 8px 11px;
  transition: all 0.2s ease;
}
.search__submit:hover {
  cursor: pointer;
  background-color: #2e5dab;
}

/* --------------SLIDER------------ */
.search__slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .search__slider-container {
    width: min-content;
  }
}
.search__slider-label {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}
@media (min-width: 540px) {
  .search__slider-label {
    font-size: 13px;
  }
}
.search__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.search__short-checkbox {
  opacity: 0;
  width: 36px;
  height: 20px;
}

.search__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8b8b8b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  outline-offset: 2px;
}

.search__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.search__short-checkbox:checked + .search__slider {
  background-color: #3ddc84;
}

.search__short-checkbox:focus + .search__slider {
  box-shadow: 0 0 1px #3ddc84;
}

.search__short-checkbox:checked + .search__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.search__short-checkbox:focus + .search__slider {
  outline: 1px solid white;
}
